---
import { projectContents } from "@/lib/contents/project-contents";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { FaGithub, FaGlobe } from "react-icons/fa6";

export function getStaticPaths() {
  return [
    { params: { project: "travelohi" } },
    { params: { project: "easywork" } },
    { params: { project: "sunshine" } },
    { params: { project: "recall" } },
    { params: { project: "linkasa" } },
    { params: { project: "sunshinefi" } },
    { params: { project: "tarzan" } },
    { params: { project: "the-adventure-of-tpa" } },
    { params: { project: "janidb" } },
    { params: { project: "animob" } },
  ];
}

const { project } = Astro.params;

const projectDetails = projectContents[project];
---

<Layout title={projectDetails.name}>
  <div class="flex flex-col pt-4 lg:pt-0 justify-center items-center">
    <div
      class="flex flex-col h-full sm:p-4 lg:p-8 gap-6 w-full lg:w-3/4 justify-center items-center"
    >
      <div class="flex gap-6 justify-center">
        <Image
          class="border-2 border-black object-cover"
          src={projectDetails.thumbnail}
          alt={projectDetails.name}
        />
      </div>
      <div class="flex flex-col justify-center gap-3">
        <div class="flex items-center justify-between gap-6">
          <p class="text-2xl lg:text-3xl 2xl:text-4xl font-bold">
            {`> ${projectDetails.name}`}
          </p>
          <div class="flex gap-6">
            {
              projectDetails.demo && (
                <a href={projectDetails.demo}>
                  <FaGlobe
                    className="cursor-pointer"
                    size={25}
                    data-cursor-text="Demo"
                  />
                </a>
              )
            }
            <a href={projectDetails.githubRepo}>
              <FaGithub
                className="cursor-pointer"
                size={25}
                data-cursor-text="Repository"
              />
            </a>
          </div>
        </div>
        <div>
          {
            projectDetails.explanation
              .split("~")
              .map((paragraph) => (
                <p class="text-justify text-lg mb-4">{paragraph}</p>
              ))
          }
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
        {
          projectDetails && projectDetails.imageDetails && projectDetails.imageDetails.map((i) => (
            <Image
              class="border-2 border-black"
              src={i}
              alt={projectDetails.name}
            />
          ))
        }
  </div>
</Layout>
